* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: #d9b08c;
    --heading-bg-color: rgb(255, 255, 255);
    --nav-bg-color: white;
    --main-content-bg-color: white;
    --nav-bg-color: white;
    --nav-item-hover-bg-color: #e7e7e7;
    --nav-item-link-color: black;
    --heading-color: #734a26;
    --border-color: #734a26;
}

@font-face {
    font-family: "Open-Sans";
    src: url("./fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Open-Sans";
    src: url("./fonts/OpenSans/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
    font-style: italic;
}

body {
    font-family: "Open-Sans";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3d2815;
}

header {
    background-color: var(--heading-bg-color);
    min-height: 54px;
    vertical-align: middle;
}

header,
main,
footer {
    padding-left: 2rem;
    padding-right: 2rem;
}

main {
    padding-top: 20px;
}

footer {
    border-top: 1px solid var(--border-color);
    background-color: black;
    color: #fff;
    margin-top: auto;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article {
    border-radius: 10px;
    margin-bottom: 1.5rem;
    width: 100%;
}

section {
    max-width: 100%;
}

h1 {
    text-align: center;
}

h1,
h2,
h3 {
    display: inline-block;
    color: var(--heading-color);
    position: relative;
}

h2::after,
h3::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0%;
    background-color: #734a26;
    transition: width 1s;
}

h2:hover:after,
h3:hover:after {
    width: 100%;
}
