@media (min-width: 900px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    .header-nav {
        display: block;
    }
    .navBar {
        display: flex;
        flex-direction: row;
    }

    .nav-container {
        display: flex;
        flex-direction: none;
    }

    .nav-toggle {
        display: none;
    }

    .team-container {
        display: inline-flex;
        justify-content: center;
    }

    .main-container {
        display: flex;
        justify-content: center;
    }

    .searchContainer {
        width: 25%;
    }

    .residents-container,
    .policy-container {
        display: flex;
        flex-direction: row;
    }
    #map {
        min-height: 60vh;
        width: 100%;
        height: 100%;
        resize: both;
    }

    section {
        padding: 5px;
    }

    #supportImage {
        display: flex;
        width: 45%;
        justify-content: center;
    }
}
